:root {
    --toolbar_color: #2A4856;
}

.toolbar {
    background-color: var(--toolbar_color);
    height: 36px;
    display: flex;
    justify-content: end;
}
.tm-table {
    display: flex;
}
.width-navigation ul.nav {
    display: flex;
}
.nav-item {
    margin: 0px 25px;
    justify-content: center;
}